

<div class="container more">
    <p class="h1">GCE Advanced Level Results</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Index No</span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="index" placeholder="Index No" aria-label="Index No" aria-describedby="basic-addon1">
  </div>

  <button type="button" class="btn btn-success" [disabled]="!index" (click)="checkResults()">Submit</button>
  <div class="d-flex justify-content-center" *ngIf="!data && click">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
 
  <ul class="list-group more" *ngIf="data!=null">
      <li class="list-group-item">Index No : {{data.indexNo}}</li>
      <li class="list-group-item">Name : {{data.name}}</li>
      <li class="list-group-item">Stream : {{data.stream}}</li>
      <li class="list-group-item">Year : {{data.year}}</li>
      <li class="list-group-item">Z-Score : <b>{{data.zScore}}</b></li>
      <li class="list-group-item">Island Rank : <b>{{data.islandRank}}</b></li>
      <li class="list-group-item">District Rank : <b>{{data.districtRank}}</b></li>
    </ul>
    <table class="table more down" *ngIf="data!=null">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Subject</th>
            <th scope="col">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of data.subjectResults">
            <th scope="row">{{row.subjectName}}</th>
            <td>{{row.subjectResult}}</td>
          </tr>
        </tbody>
      </table>
</div>
<router-outlet></router-outlet>
